In [2]:
pip install scikit-surprise

Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/f5/da/b5700d96495fb4f092be497f02492768a3d96a3f4fa2ae7dea46d4081cfa/scikit-surprise-1.1.0.tar.gz (6.4MB)
     |████████████████████████████████| 6.5MB 3.1MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (0.14.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.17.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.0-cp36-cp36m-linux_x86_64.whl size=1678206 sha256=a8d9d2f114659b75be0ac4c83cedee8a350b9e220071e2081059d83614cdba80
  Stored in directory: /root/.cache/pip/wheels/cc/fa/8c/16c93fccce688ae1bde7d979ff102f7bee980d9cfeb8641bcf
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.0

In [0]:
import numpy as np
import pandas as pd
from surprise import SVD, KNNBasic, Dataset, Reader
from surprise.model_selection import cross_validate

In [0]:
users=[1,2,3,4,1,2,3,4]
movies=["starwars","Harrypotter","starwars","starwars","Harrypotter","Tomraider","Harrypotter","Tomraider"]
ratings=[1,3,4,2,3,4,1,1]

ratings_dict={'userID':users,
              'itemID':movies,
              'rating':ratings}

df=pd.DataFrame(ratings_dict)

In [0]:
df

   userID       itemID  rating
0       1     starwars       1
1       2  Harrypotter       3
2       3     starwars       4
3       4     starwars       2
4       1  Harrypotter       3
5       2    Tomraider       4
6       3  Harrypotter       1
7       4    Tomraider       1

In [0]:
reader=Reader(rating_scale=(1,5))
data=Dataset.load_from_df(df[['userID','itemID','rating']],reader)
algo=SVD()

In [0]:
cross_validate(algo,data, measures=['rmse','mae'],cv=5,verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.7338  1.7283  1.4935  0.6343  0.8572  1.2894  0.4578
MAE (testset)     1.7335  1.7268  1.0697  0.6343  0.8572  1.2043  0.4509
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00

{'fit_time': (0.0009891986846923828,
  0.0007040500640869141,
  0.0005183219909667969,
  0.0004839897155761719,
  0.0004966259002685547),
 'test_mae': array([1.73352875, 1.72680792, 1.06973179, 0.63425182, 0.85717455]),
 'test_rmse': array([1.7338468 , 1.72833984, 1.49354971, 0.63425182, 0.85717455]),
 'test_time': (0.00011134147644042969,
  4.220008850097656e-05,
  2.7179718017578125e-05,
  1.621246337890625e-05,
  1.811981201171875e-05)}

In [0]:
print(algo.predict(1,'starwars'))
print(algo.predict(2,'starwars'))
print(algo.predict(3,'starwars'))
print(algo.predict(4,'starwars'))

user: 1          item: starwars   r_ui = None   est = 2.05   {'was_impossible': False}
user: 2          item: starwars   r_ui = None   est = 2.47   {'was_impossible': False}
user: 3          item: starwars   r_ui = None   est = 2.57   {'was_impossible': False}
user: 4          item: starwars   r_ui = None   est = 2.20   {'was_impossible': False}

In [0]:
#working with Jester_1_1 dataset: Data from 24,983 users who have rated 36 or more jokes, a matrix with dimensions 24983 X 101
#http://eigentaste.berkeley.edu/dataset/

In [0]:
#upload from local file
from google.colab import files
uploaded = files.upload()

In [0]:
import io
colnames=[]
df = pd.read_csv(io.BytesIO(uploaded['jester-data-1_new.csv']))

In [4]:
from google.colab import drive #toimport google drive data
drive.mount('/content/drive') #to mount the drive data into colab clound and enterr the activation code

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [5]:
cd /content/drive/"My Drive"

/content/drive/My Drive

In [0]:
df=pd.read_csv("Colab Notebooks/jester-data-1_new.csv")
df=df.drop(['Number of Ratings'],axis=1)

In [7]:
df

       UserID    J1    J2    J3    J4    J5  ...   J95   J96   J97   J98     J  J100
0          U1 -7.82  8.79 -9.66 -8.16 -7.52  ...   NaN   NaN -5.63   NaN   NaN   NaN
1          U2  4.08 -0.29  6.36  4.37 -2.38  ... -0.19 -2.14  3.06  0.34 -4.32  1.07
2          U3   NaN   NaN   NaN   NaN  9.03  ...   NaN   NaN   NaN   NaN   NaN   NaN
3          U4   NaN  8.35   NaN   NaN  1.80  ...   NaN   NaN   NaN   NaN   NaN   NaN
4          U5  8.50  4.61 -4.17 -5.39  1.36  ...  5.73  1.55  3.11  6.55  1.80  1.60
...       ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24978  U24979  0.44  7.43  9.08  2.33  3.20  ...  8.45  9.03  6.55  8.69  8.79  7.43
24979  U24980  9.13 -8.16  8.59  9.08  0.87  ...  9.22 -8.20 -7.23 -8.59  9.13  8.45
24980  U24981   NaN   NaN   NaN   NaN -7.77  ...   NaN   NaN   NaN   NaN   NaN   NaN
24981  U24982   NaN   NaN   NaN   NaN -9.71  ...   NaN   NaN   NaN   NaN   NaN   NaN
24982  U24983  2.43  2.67 -3.98  4.27 -2.28  ...   NaN   NaN   NaN   NaN   NaN   NaN

[24983 rows x 101 columns]

In [8]:
df2=df
df2

       UserID    J1    J2    J3    J4    J5  ...   J95   J96   J97   J98     J  J100
0          U1 -7.82  8.79 -9.66 -8.16 -7.52  ...   NaN   NaN -5.63   NaN   NaN   NaN
1          U2  4.08 -0.29  6.36  4.37 -2.38  ... -0.19 -2.14  3.06  0.34 -4.32  1.07
2          U3   NaN   NaN   NaN   NaN  9.03  ...   NaN   NaN   NaN   NaN   NaN   NaN
3          U4   NaN  8.35   NaN   NaN  1.80  ...   NaN   NaN   NaN   NaN   NaN   NaN
4          U5  8.50  4.61 -4.17 -5.39  1.36  ...  5.73  1.55  3.11  6.55  1.80  1.60
...       ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24978  U24979  0.44  7.43  9.08  2.33  3.20  ...  8.45  9.03  6.55  8.69  8.79  7.43
24979  U24980  9.13 -8.16  8.59  9.08  0.87  ...  9.22 -8.20 -7.23 -8.59  9.13  8.45
24980  U24981   NaN   NaN   NaN   NaN -7.77  ...   NaN   NaN   NaN   NaN   NaN   NaN
24981  U24982   NaN   NaN   NaN   NaN -9.71  ...   NaN   NaN   NaN   NaN   NaN   NaN
24982  U24983  2.43  2.67 -3.98  4.27 -2.28  ...   NaN   NaN   NaN   NaN   NaN   NaN

[24983 rows x 101 columns]

In [0]:
colname=df2.columns[1:101]

In [0]:
df3=(df.values)   #df2[:,1:102]

In [11]:
ratings=(df3[:,1:102].ravel())
ratings.size

2498300

In [0]:
a=[]

for i in range (1,24984):
    a=a+[i]

In [0]:
b=[]
for i in range(100):
  b.extend(a)

In [0]:
b.sort()

In [0]:
b

In [0]:
jokes=[]

for i in range (1,101):
    jokes=jokes+[str(i)]

In [0]:
users=b   #length=2498300
movies=jokes*24983   #length=2498300 

ratings_dict={'userID':users,
              'itemID':movies,
              'rating':ratings}

df=pd.DataFrame(ratings_dict)

In [18]:
df

         userID itemID rating
0             1      1  -7.82
1             1      2   8.79
2             1      3  -9.66
3             1      4  -8.16
4             1      5  -7.52
...         ...    ...    ...
2498295   24983     96    NaN
2498296   24983     97    NaN
2498297   24983     98    NaN
2498298   24983     99    NaN
2498299   24983    100    NaN

[2498300 rows x 3 columns]

In [0]:
df.dropna(inplace=True)

In [20]:
df

         userID itemID rating
0             1      1  -7.82
1             1      2   8.79
2             1      3  -9.66
3             1      4  -8.16
4             1      5  -7.52
...         ...    ...    ...
2498267   24983     68   7.48
2498268   24983     69   5.15
2498269   24983     70    3.2
2498270   24983     71   6.26
2498286   24983     87   7.23

[1810455 rows x 3 columns]

In [0]:
#remove this
newdf=df.iloc[0:1800005]

In [50]:
newdf

         userID itemID rating
0             1      1  -7.82
1             1      2   8.79
2             1      3  -9.66
3             1      4  -8.16
4             1      5  -7.52
...         ...    ...    ...
1109375   11094     76      6
1109376   11094     77   4.32
1109377   11094     78    6.6
1109378   11094     79   4.37
1109379   11094     80   2.23

[800005 rows x 3 columns]

In [0]:
#write df in place of newdf for final run
reader=Reader(rating_scale=(-10,10))
trainset=Dataset.load_from_df(df[['userID','itemID','rating']],reader).build_full_trainset()

In [0]:
#write df in place of newdf for final run
data=Dataset.load_from_df(df[['userID','itemID','rating']],reader)

In [23]:
algo_svd=SVD()
algo_svd.fit(trainset)

In [24]:
cross_validate(algo_svd,data,measures=['rmse','mae'],cv=5,verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    4.0931  4.1228  4.1144  4.1092  4.0897  4.1058  0.0126
MAE (testset)     3.1786  3.2004  3.1937  3.1877  3.1772  3.1875  0.0088
Fit time          89.38   90.25   90.38   90.15   90.37   90.11   0.37
Test time         5.24    5.26    5.26    5.24    5.77    5.35    0.21

{'fit_time': (89.38182854652405,
  90.2519211769104,
  90.3784248828888,
  90.15024495124817,
  90.36518740653992),
 'test_mae': array([3.17859168, 3.20040005, 3.19372316, 3.18767804, 3.17717054]),
 'test_rmse': array([4.09312776, 4.12279582, 4.1143793 , 4.10919399, 4.08965091]),
 'test_time': (5.242704153060913,
  5.262649297714233,
  5.25536322593689,
  5.2418053150177,
  5.767960548400879)}

In [25]:
algo_svd.predict(1,'2')

Prediction(uid=1, iid='2', r_ui=None, est=8.206169697408717, details={'was_impossible': False})

In [26]:
algo_svd.predict(1,'1')

Prediction(uid=1, iid='1', r_ui=None, est=-7.837310492667365, details={'was_impossible': False})

In [27]:
algo_svd.predict(1,'5')

Prediction(uid=1, iid='5', r_ui=None, est=-4.882495767792206, details={'was_impossible': False})

In [28]:
algo_svd.predict(11094,'76')

Prediction(uid=11094, iid='76', r_ui=None, est=6.268705830093097, details={'was_impossible': False})

In [30]:
algo_svd.predict(22094,'100')

Prediction(uid=22094, iid='100', r_ui=None, est=-7.169202910624128, details={'was_impossible': False})

In [0]:
from surprise import KNNBasic
algo_knn=KNNBasic()
algo_knn.fit(trainset)

In [0]:
cross_validate(algo_knn,data,measures=['rmse','mae'],cv=5,verbose=True)

In [0]:
algo_knn.predict(43,'10')

Prediction(uid=43, iid='10', r_ui=None, est=2.2813643154450336, details={'actual_k': 40, 'was_impossible': False})

In [0]:
from surprise import SVDpp

In [25]:
algo_SVDpp=SVDpp()
algo_SVDpp.fit(trainset)

In [26]:
cross_validate(algo_SVDpp,data,measures=['rmse','mae'],cv=2,verbose=True)

Evaluating RMSE, MAE of algorithm SVDpp on 2 split(s).

                  Fold 1  Fold 2  Mean    Std
RMSE (testset)    4.9780  4.9780  4.9780  0.0000
MAE (testset)     3.7717  3.7790  3.7753  0.0036
Fit time          540.57  537.34  538.95  1.61
Test time         74.46   74.90   74.68   0.22

{'fit_time': (540.5656695365906, 537.3438792228699),
 'test_mae': array([3.77172765, 3.7789705 ]),
 'test_rmse': array([4.97797922, 4.97801501]),
 'test_time': (74.46144819259644, 74.8974142074585)}

In [28]:
algo_SVDpp.predict(1,'1')

Prediction(uid=1, iid='1', r_ui=None, est=-8.775998012946026, details={'was_impossible': False})

In [47]:
from surprise import KNNWithMeans
algo_KNNMEANS=KNNWithMeans()
algo_KNNMEANS.fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [0]:
cross_validate(algo_KNNMEANS,data,measures=['rmse','mae'],cv=2,verbose=True)

In [24]:
from surprise import BaselineOnly
algo_baseline=BaselineOnly()
algo_baseline.fit(trainset)

Estimating biases using als...

In [25]:
cross_validate(algo_baseline,data,measures=['rmse','mae'],cv=2,verbose=True)

Estimating biases using als...
Estimating biases using als...
Evaluating RMSE, MAE of algorithm BaselineOnly on 2 split(s).

                  Fold 1  Fold 2  Mean    Std
RMSE (testset)    4.3931  4.3921  4.3926  0.0005
MAE (testset)     3.5553  3.5512  3.5533  0.0021
Fit time          7.85    8.93    8.39    0.54
Test time         11.45   12.53   11.99   0.54

{'fit_time': (7.8508124351501465, 8.926425695419312),
 'test_mae': array([3.55533245, 3.55118213]),
 'test_rmse': array([4.39310735, 4.39207592]),
 'test_time': (11.450764179229736, 12.525930404663086)}

In [31]:
algo_baseline.predict(1,'200')

Prediction(uid=1, iid='200', r_ui=None, est=-2.32581500553206, details={'was_impossible': False})

In [32]:
from surprise import CoClustering
algo_cocluster=CoClustering()
algo_cocluster.fit(trainset)

In [33]:
cross_validate(algo_cocluster,data,measures=['rmse','mae'],cv=2,verbose=True)

Evaluating RMSE, MAE of algorithm CoClustering on 2 split(s).

                  Fold 1  Fold 2  Mean    Std
RMSE (testset)    4.4138  4.4129  4.4134  0.0005
MAE (testset)     3.5268  3.5257  3.5263  0.0005
Fit time          50.50   46.14   48.32   2.18
Test time         12.04   12.59   12.31   0.27

{'fit_time': (50.503854513168335, 46.143998861312866),
 'test_mae': array([3.52679289, 3.52574876]),
 'test_rmse': array([4.41384413, 4.41293884]),
 'test_time': (12.038959980010986, 12.586383819580078)}

In [0]:
from surprise import KNNWithZScore
KNNZScore=KNNWithZScore()

In [55]:
KNNZScore.fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [56]:
cross_validate(KNNZScore,data,measures=['rmse','mae'],cv=2,verbose=True)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithZScore on 2 split(s).

                  Fold 1  Fold 2  Mean    Std
RMSE (testset)    4.2885  4.2797  4.2841  0.0044
MAE (testset)     3.3624  3.3575  3.3600  0.0025
Fit time          186.87  200.62  193.74  6.88
Test time         1637.76 1717.97 1677.87 40.11

{'fit_time': (186.86672186851501, 200.62245631217957),
 'test_mae': array([3.36240954, 3.35749143]),
 'test_rmse': array([4.28845121, 4.27969222]),
 'test_time': (1637.7618885040283, 1717.972008228302)}